/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { AdvisorScores } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AdvisorManagementClient } from "../advisorManagementClient";
import {
  AdvisorScoresListOptionalParams,
  AdvisorScoresListResponse,
  AdvisorScoresGetOptionalParams,
  AdvisorScoresGetResponse
} from "../models";

/** Class containing AdvisorScores operations. */
export class AdvisorScoresImpl implements AdvisorScores {
  private readonly client: AdvisorManagementClient;

  /**
   * Initialize a new instance of the class AdvisorScores class.
   * @param client Reference to the service client
   */
  constructor(client: AdvisorManagementClient) {
    this.client = client;
  }

  /**
   * Gets the list of advisor scores.
   * @param options The options parameters.
   */
  list(
    options?: AdvisorScoresListOptionalParams
  ): Promise<AdvisorScoresListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * Gets the advisor score.
   * @param name The scope of Advisor score entity.
   * @param options The options parameters.
   */
  get(
    name: string,
    options?: AdvisorScoresGetOptionalParams
  ): Promise<AdvisorScoresGetResponse> {
    return this.client.sendOperationRequest(
      { name, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/advisorScore",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper:
        Mappers.PathsW6Fm20SubscriptionsSubscriptionidProvidersMicrosoftAdvisorAdvisorscoreGetResponses200ContentApplicationJsonSchema
    },
    default: {
      bodyMapper: Mappers.ArmErrorResponse
    }
  },
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/advisorScore/{name}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AdvisorScoreEntity
    },
    default: {
      bodyMapper: Mappers.ArmErrorResponse
    }
  },
  urlParameters: [Parameters.$host, Parameters.subscriptionId, Parameters.name],
  headerParameters: [Parameters.accept],
  serializer
};
