/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Suppressions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AdvisorManagementClient } from "../advisorManagementClient";
import {
  SuppressionsGetOptionalParams,
  SuppressionsGetResponse,
  SuppressionContract,
  SuppressionsCreateOptionalParams,
  SuppressionsCreateResponse,
  SuppressionsDeleteOptionalParams,
  SuppressionsListOptionalParams,
  SuppressionsListResponse
} from "../models";

/** Class containing Suppressions operations. */
export class SuppressionsImpl implements Suppressions {
  private readonly client: AdvisorManagementClient;

  /**
   * Initialize a new instance of the class Suppressions class.
   * @param client Reference to the service client
   */
  constructor(client: AdvisorManagementClient) {
    this.client = client;
  }

  /**
   * Obtains the details of a suppression.
   * @param resourceUri The fully qualified Azure Resource Manager identifier of the resource to which
   *                    the recommendation applies.
   * @param recommendationId The recommendation ID.
   * @param name The name of the suppression.
   * @param options The options parameters.
   */
  get(
    resourceUri: string,
    recommendationId: string,
    name: string,
    options?: SuppressionsGetOptionalParams
  ): Promise<SuppressionsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceUri, recommendationId, name, options },
      getOperationSpec
    );
  }

  /**
   * Enables the snoozed or dismissed attribute of a recommendation. The snoozed or dismissed attribute
   * is referred to as a suppression. Use this API to create or update the snoozed or dismissed status of
   * a recommendation.
   * @param resourceUri The fully qualified Azure Resource Manager identifier of the resource to which
   *                    the recommendation applies.
   * @param recommendationId The recommendation ID.
   * @param name The name of the suppression.
   * @param suppressionContract The snoozed or dismissed attribute; for example, the snooze duration.
   * @param options The options parameters.
   */
  create(
    resourceUri: string,
    recommendationId: string,
    name: string,
    suppressionContract: SuppressionContract,
    options?: SuppressionsCreateOptionalParams
  ): Promise<SuppressionsCreateResponse> {
    return this.client.sendOperationRequest(
      { resourceUri, recommendationId, name, suppressionContract, options },
      createOperationSpec
    );
  }

  /**
   * Enables the activation of a snoozed or dismissed recommendation. The snoozed or dismissed attribute
   * of a recommendation is referred to as a suppression.
   * @param resourceUri The fully qualified Azure Resource Manager identifier of the resource to which
   *                    the recommendation applies.
   * @param recommendationId The recommendation ID.
   * @param name The name of the suppression.
   * @param options The options parameters.
   */
  delete(
    resourceUri: string,
    recommendationId: string,
    name: string,
    options?: SuppressionsDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceUri, recommendationId, name, options },
      deleteOperationSpec
    );
  }

  /**
   * Retrieves the list of snoozed or dismissed suppressions for a subscription. The snoozed or dismissed
   * attribute of a recommendation is referred to as a suppression.
   * @param options The options parameters.
   */
  list(
    options?: SuppressionsListOptionalParams
  ): Promise<SuppressionsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SuppressionContract
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceUri,
    Parameters.recommendationId,
    Parameters.name
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.SuppressionContract
    }
  },
  requestBody: Parameters.suppressionContract,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceUri,
    Parameters.recommendationId,
    Parameters.name
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}",
  httpMethod: "DELETE",
  responses: { 204: {} },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceUri,
    Parameters.recommendationId,
    Parameters.name
  ],
  serializer
};
const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/suppressions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: {
        type: {
          name: "Sequence",
          element: {
            type: { name: "Composite", className: "SuppressionContract" }
          }
        }
      }
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
