/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { OperationGroup } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { Singularity } from "../singularity";
import {
  OperationGroupGetOptionalParams,
  OperationGroupGetResponse
} from "../models";

/** Class containing OperationGroup operations. */
export class OperationGroupImpl implements OperationGroup {
  private readonly client: Singularity;

  /**
   * Initialize a new instance of the class OperationGroup class.
   * @param client Reference to the service client
   */
  constructor(client: Singularity) {
    this.client = client;
  }

  /**
   * This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more
   * info
   * @param resourceGroupName The name of the resource group.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    options?: OperationGroupGetOptionalParams
  ): Promise<OperationGroupGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Singularity/operations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Result
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
