/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { SubscriptionQuota } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SingularityManagementClient } from "../singularityManagementClient";
import {
  SubscriptionQuotaGetOptionalParams,
  SubscriptionQuotaGetResponse
} from "../models";

/** Class containing SubscriptionQuota operations. */
export class SubscriptionQuotaImpl implements SubscriptionQuota {
  private readonly client: SingularityManagementClient;

  /**
   * Initialize a new instance of the class SubscriptionQuota class.
   * @param client Reference to the service client
   */
  constructor(client: SingularityManagementClient) {
    this.client = client;
  }

  /**
   * Gets the information about the subscriptions quota resource with the given subscriptionId. The
   * information includes subscription level quota allocation and usage for each InstanceTypeSeries and
   * SLA tier.
   * @param options The options parameters.
   */
  get(
    options?: SubscriptionQuotaGetOptionalParams
  ): Promise<SubscriptionQuotaGetResponse> {
    return this.client.sendOperationRequest({ options }, getOperationSpec);
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Singularity/quotas",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.InstanceTypeSeriesQuotaList
    },
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.ownerSubscriptionId],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
